/*классы секций правого блока*/
.aboutme-box{
	padding-bottom: 43px;
}

/*мое фото*/
.my-foto{
	width:100%;
}

.my-foto-box{
	 width: 142px;
	 height: 142px;
	 border-radius: 50% 50%;
	 border: 5px solid #3ba8c0;
	 overflow: hidden;
	 float:left;
	 margin:16px  0 0 55px;
}

.aboutme-info-block{
	list-style: none;
	margin:0;
	padding:0;
	float:right;
	width:421px;
}

.aboutme-info{
	margin-bottom: 6px;
}
.aboutme-info-title{
	color:#5a636b;
	font-size: 17px;
	font-family:'fira_sansmedium';
	float:left;
}

.aboutme-info-text{
	color:#37424d;
	font-size: 15px;
	font-family: 'fira_sansbook';
	float: left;
	margin-left: 19px;
	max-width:220px;
	overflow: hidden;
}

.aboutme-info-text .upper{
	text-transform: uppercase;
}

/*навыки*/

.skills{
	padding:0;
	list-style: none;
	margin:6px 0 0 1px;
}

.skill-item{
	display: inline-block;
	font-family: 'ProximaNovaCondensedSemibold';
 	background: #3ba8c0; /* Old browsers */
	background: -moz-linear-gradient(top,  #3ba8c0 0%, #3ba8c0 49%, #2e8ca2 50%, #2e8ca2 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3ba8c0), color-stop(49%,#3ba8c0), color-stop(50%,#2e8ca2), color-stop(99%,#2e8ca2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #3ba8c0 0%,#3ba8c0 49%,#2e8ca2 50%,#2e8ca2 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #3ba8c0 0%,#3ba8c0 49%,#2e8ca2 50%,#2e8ca2 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #3ba8c0 0%,#3ba8c0 49%,#2e8ca2 50%,#2e8ca2 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #3ba8c0 0%,#3ba8c0 49%,#2e8ca2 50%,#2e8ca2 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ba8c0', endColorstr='#2e8ca2',GradientType=0 ); /* IE6-9 */
	border-radius: 4px;
	padding: 0 7px;
	margin-right: 6px;
	color: white;
	display: inline-block;
	line-height: 1.3;
	min-width: 40px;
	text-align: center;
}

/*списки работы и образовнаия общее*/
.aboutme-list{
	list-style:none;
	padding:0 0 0 58px;
	margin:0;
	font-family:'fira_sansbook';
	font-size:16px;
	color: #4a545d;
}

.aboutme-list-item{
padding:2px 0 0 66px;
margin-bottom: 7px;
}

.aboutme-list-item:last-child{
margin-bottom:-4px;
}

.period{
	font-size: 15px;
	font-family: 'fira_sanslight';
}

.work-icon{
	background: url('/img/bag.png') 0px center no-repeat;
}

.education-icon{
	background: url('/img/hat.png') 0px center no-repeat;
}

.course-icon{
	background: url('/img/list.png') 6px center no-repeat;
}
/*классы секций правого блока конец*/