html {
 	 height:100%;
	}

body {
	
	background: url(../img/bg.png) repeat;
	font: normal 15px 'fira_sanslight';
	color: #4a545d;
	/*margin-bottom: 80px;*/
	height:100%;
}

/* прибьём футер книзу*/
.wrapper{
	position: relative;
	min-height: 100%;
	min-width: 970px; /* обязательно указать минимальную ширину примерно на 10 пикселей шире контейнера*/
	height: auto!important;
	/*overflow: hidden;*/
}
.wrapper:after {
	content: "";
	height: 81px;
	display: block;
}
.page-footer{
	min-width: 970px;
	height: 81px;
	margin-top: -81px;	
	background-color: #eff3f7;
	font-family: 'fira_sanslight';
	color: #4a545d;
}
/* прибьём футер книзу - конец*/

/*хедер*/
.page-header{
	background: #eff3f7;
	margin-bottom: 39px;
	min-width: 970px;
	
}

.header-container{
	max-width: 1200px;
	min-width: 960px;
	margin: 0px auto;
	height: 119px;
	position: relative;
}

.gradient-line {
	height: 3px;
	opacity: 0.95;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f6fa+0,1c667a+50,f2f6fa+100 */
	background: #f2f6fa; /* Old browsers */
	background: -moz-linear-gradient(left, #f2f6fa 0%, #1c667a 50%, #f2f6fa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#f2f6fa), color-stop(50%,#1c667a), color-stop(100%,#f2f6fa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #f2f6fa 0%,#1c667a 50%,#f2f6fa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #f2f6fa 0%,#1c667a 50%,#f2f6fa 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #f2f6fa 0%,#1c667a 50%,#f2f6fa 100%); /* IE10+ */
	background: linear-gradient(to right, #f2f6fa 0%,#1c667a 50%,#f2f6fa 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6fa', endColorstr='#f2f6fa',GradientType=1 ); /* IE6-9 */
}

/*хедер конец*/

/*логотип*/
.logo-link{
position: absolute;
top: 40px;
left: 0;
}

/*логотип конец*/

/*социальные кнопки*/
.social-buttons{
	position: absolute;
	top: 37px;
	right: 0px;
	list-style-type: none;
	/*width:260px;*/
	margin:0;
	padding:0;
}

.social{
	float: left;
	margin-left:24px;
}

.social:first-child{
	margin-left: 0;
}

.social-link{
	width:47px;
	height:47px;
	display: block;
	text-indent: -9999px;
}

.vk{
	background: url(/img/social.png) -2px -3px no-repeat;
}

.vk:hover{
	background: url(/img/social.png) -2px -65px no-repeat;
}

.twitter{
	background:url(/img/social.png) -71px -3px no-repeat;
}

.twitter:hover{
	background:url(/img/social.png) -71px -65px no-repeat;
}

.facebook{
	background:url(/img/social.png) -140px -3px no-repeat;
}

.facebook:hover{
	background:url(/img/social.png) -140px -65px no-repeat;
}

.github{
	background:url(/img/social.png) -209px -3px no-repeat;
}

.github:hover{
	background:url(/img/social.png) -209px -65px no-repeat;
}
/*социальные кнопки конец*/

/*основной контейнер*/
.main-container{
	width: 960px;
	margin: 0 auto;
}

/*сайдбар*/

.sidebar{
	float:left;
	width: 250px;
}

/*навигация*/
.navigation{
	background: #eff3f7;
	border-radius:4px;
	margin-bottom:23px;
	overflow: hidden;
}

.nav-list{
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-item{
	border-top:2px solid #3ba8c0; 
	margin:0 10px;
}

.nav-item:first-child{
border-top: none;
}

.nav-link{
	color:#959aa8;
	font-family: fira_sansbook;
	font-size:21px;
	text-decoration:none;
	margin-left: 17px;
	padding:20px 0;
	display: block;
}

.nav-link:hover{
color:#3ba8c0;
}
/*текущий пункт меню*/
.nav-item.current{
	background: #3ba8c0;	
	margin:0;
	margin-bottom:-2px;

}

.nav-item.current .nav-link{
	color:#eff3f7;
	font-size:23px;
	padding:17px 0;
	padding-left:11px;
}
/*навигация конец*/

/*контакты*/
.contacts{
	font-family:'fira_sansbook';
	color: #ffffff;
	border-radius:4px;
	margin-bottom:23px;
}

.contacts-list{
	margin:0;
	padding: 0;
	font-size: 16px;

}

.contacts-header{
	background: #3ba8c0;
	border-radius: 4px 4px 0 0;
	font-size: 21px;
	padding:6px 0 0 19px;
	
}

.contacts-header-text{
	display: block;
}

.contacts-link{
	display:block;
	color:#ffffff;
	text-decoration:none;
	font-size:16px;
	padding:8px 0px;
	margin-left:83px;
}

.contacts-item:last-child{
	border-radius:0 0 4px 4px;
}

.contacts-link:hover{
	text-decoration: underline;
}

.contacts-item.mail{
	background: #41b9d4 url('/img/contacts-icons.png') 37px 11px no-repeat;	
}

.contacts-item.tel{
	background: #48cbe8 url('/img/contacts-icons.png') 38px -45px no-repeat;
}

.contacts-item.skype{
	background: #51daf8 url('/img/contacts-icons.png') 38px -100px no-repeat;
}

/*контакты конец*/

/*правый блок*/
.info-block{
	float: right;
	width:650px;
}

.aboutme{	
	background: #eff3f7;
	border-radius: 4px;
	margin-bottom:25px; 
}

.aboutme-title{
	font-family: 'fira_sansbook';
	font-size:27px;
	color:#3ba8c0;
	font-weight: normal;
	border-bottom: 2px solid #3ba8c0;
	display: inline-block;
	margin:0;
	margin-bottom:19px;
	padding:12px 23px;
}

/*clearfix*/
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
/*clearfix конец*/


/*float*/
.fl{
	float:left;
}

.fr{
	float:right;
}
/*float конец*/

/*футер*/

.footer-content{
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.lock{
	position: absolute;
	top:23px;
	left:34px;
}

.lock-href{
	text-indent: -9999px;
	display: block;
	background: url('/img/lock.png') -5px -5px no-repeat;
	width:20px;
	height:32px;
}

.lock-href:hover{
	background: url('/img/lock.png') -35px -5px no-repeat;
}

.copyright{
	text-align:center;
	font-family: 'fira_sanslight';
 	color: #4a545d;
 	font-size: 13px;
 	line-height: 78px;
}


/*футер конец*/